#science-wrapper {
  // height: 100vh;
  // margin: 0 auto;
  display: flex;
  justify-content: center;
}
.science-container {
  // margin: 15px 30px;

  color: #1c1c1c;
  background-color: #f2efef;
  box-shadow: 1px 1px 14px -6px black;
}

.link-science-button:hover {
  text-decoration: none;
}

.container-flex {
  display: flex;
  justify-content: center;
  // align-items: center;
}


.science-title {
text-decoration-line: underline;
  text-align: center;
  color: #1c1c1c;
  // text-shadow: 2px 2px 4px;
}

div.home-science-text {
  // font-size: 33px;
  line-height: 1.8;
  color: #1c1c1c;
  text-shadow: 2px 2px 4px #000000;
}

.science-button {
  border: 1px;
  height: 77px;
  width: 257px;
  background-color: #277f1d;
  border-radius: 49px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

button.science-button {
  margin-bottom: 10px;
}

button.science-button:hover {
  background-color: #2ead1d;
  font-weight: bold;
}

 button.science-button-inner:hover {
  color: #ffffff;
  // font-size: 19px;
  // font-weight: 900;
 }

span.science-button-inner {
  // text-decoration: none;
  color: white;
  font-size: 25px;
  text-decoration: none;
  text-shadow: 2px 2px 4px #000000;
}
