.scroll-img {
     /*Set a css background */
    background:url(https://res.cloudinary.com/dxy1zcexj/image/upload/v1568619806/sunset-3325080_qoxfoi.jpg) fixed;
    background-size: cover;
    // position: fixed;

    /*Dont mind the rest*/
    width:100%;
    height:300px;
    line-height:300px;
    margin:0 auto;
    // margin-top:150px;
    text-align:center;
    color:#fff;
    font-family:'Open Sans' sans-serif;
}
.scroll-img2 {
     /*Set a css background */
    background:url(https://res.cloudinary.com/dxy1zcexj/image/upload/v1568556708/industry-1752876_960_720_stxmaw.png) fixed;
    background-size: cover;
 // position: fixed;
    /*Dont mind the rest*/
    width:100%;
    height:300px;
    line-height:300px;
    margin:0 auto;
    // margin-top:150px;
    text-align:center;
    color:#fff;
    font-family:'Open Sans' sans-serif;
}
.scroll-img3 {
     /*Set a css background */
     // background: url(https://res.cloudinary.com/dxy1zcexj/image/upload/v1568632824/cyclone-2102397_qeljpn.jpg) fixed;
    background: url(https://res.cloudinary.com/dxy1zcexj/image/upload/v1568619948/aurora-1190254_tedl5y.jpg) fixed;
    background-size: cover;
 // position: fixed;
    /*Dont mind the rest*/
    width:100%;
    height:300px;
    line-height:300px;
    margin:0 auto;
    // margin-top:150px;
    text-align:center;
    color:#fff;
    font-family:'Open Sans' sans-serif;
}
