<div class="navbar navbar-expand-sm navbar-dark fixed-top d-flex" style="background-color: black;">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <%= link_to root_path, class:"link-text-dec-3" do %>
        <li class="nav-item-3">
            <p class="link-p-3">Home</p>
        </li>
      <% end %>
       <%= link_to education_path, class:"link-text-dec-3" do %>
        <li class="nav-item-3">
            <p class="link-p-3">Science</p>
        </li>
      <% end %>
      <%= link_to about_path, class:"link-text-dec-3" do %>
        <li class="nav-item-3">
            <p class="link-p-3">About Us</p>
        </li>
      <% end %>
    </ul>
      <div class="nav-icons">
        <a href="https://www.instagram.com/marchforourplanet/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <!-- <a href="#"><i class="fab fa-twitter"></i></a> -->
        <!-- <a href=""><i class="fab fa-youtube"></i></a> -->
      </div>
  </div>
</div>
