<div id="carbon-wrapper">
    <div class="container carbon-holder p-5">
      <div class="row slideanim">
        <div class="carbon-text col-12 col-lg-6">
            <h2 class="mb-5" style="font-weight: bold;">Historic Carbon Levels</h2>
              <p>More than 99% Of Scientists from around the world agree, that
                  HUMANS ARE THE SOLE CAUSE OF CLIMATE CHANGE
                    <br>
                    <br>
                  Before the industrial revolution in the early 1800’s, our atmosphere contained about 280 parts per million of carbon dioxide.</p>
                    <br>
                    <br>
                  <p class="toggle-text">The year is now 2019, Two hundred years later, and the amount of carbon in the atmosphere has exploded — we’re now well over 415 parts per million of CO2 in the atmosphere and already feeling the mildest effects of climate change. The results of having carbon levels this high are already being felt worldwide in catastrophic climate catastrophes, and are increasing rapidly every year.
              </p>
            <a class="toggle-text-button btn btn-primary mb-5" style="color: #e6ecf2;">Read More</a>
        </div>
        <div class="col-12 col-lg-6 carbon-img">
          <!-- <img class="img" src="https://res.cloudinary.com/dxy1zcexj/image/upload/v1568387342/Global_Atmospheric_CO2_Historic_c3vjgh.jpg" alt=""> -->
            <canvas id="myChart" width="300" height="300"></canvas>
          </div>
        </div>
      </div>
    </div>


