<div id="melting-wrapper">
  <div class="container p-5">
    <div class="row slideanim">
      <div class="melting-text col-12 col-lg-6">
        <h2 class="mb-5" style="font-weight: bold;">Melting Ice & Sea Level Rise</h2>
          <p>Due to rapid warming of the oceans and atmosphere, our planets ice is melting at historic rates — from glaciers to Greenland, the Arctic & Antarctic. This is driving sea level rise, reducing the earth’s ability to reflect heat energy back out to space, and endangering unique ecosystems.
              <br>
              <br>
            In the last 30 years recorded, the Arctic’s sea ice has been in dramatic decline, losing on average 3.7% of its mass each decade. Last year Ice in the Arctic Ocean continued to melt during the polar winter — the first time this has been observed in modern history. Some parts were 20 degrees C warmer than usual.</p>
              <br>
              <br>
          <p class="toggle-text">
            “One glacier on Chacaltaya mountain, which once hosted the world’s highest ski resort, has already completely disappeared. And the two Tuni-Condoriri glaciers that provide water for El Alto and La Paz in Bolivia lost 39% of their area between 1983 and 2006 . This year in 2019 Bolivia had historic numbers of Wildfires.
              <br>
              <br>
            Because glaciers are so sensitive to small temperature changes, even if we stopped emissions now, many glaciers will still disappear. But action now to keep fossil fuels in the ground can still save many glaciers. Glaciers provide an important year-round source of water to many towns and cities around the world.</p>
              <a class="toggle-text-button btn btn-default" style="color: black;">Read More</a>
       </div>
    </div>
  </div>
</div>
