<div id="science-wrapper">
  <div class="d-flex">
    <div class="container title-container p-5">
      <h2 class="" style="font-size: 70px;"><strong>Science Facts</strong></h2>
      <p style="font-size: 30px;"><em>Learn what is really going on with our planet. (placeholder)</em></p>
      <a class="science-button" href="#">
        <button class="science-button">
          <span class="science-button-inner">Learn more</span>
        </button>
      </a>
        <div class="container p-5 facts-container" style="font-size: 30px;">
          <p>1: <strong>Historic carbon levels</strong></p>
          <p>2: <strong>Record Breaking Temperatures</strong></p>
          <p>3: <strong>Extreme Storms & Flooding </strong></p>
          <p>4: <strong>Melting Ice & Sea Level Rise</strong></p>
        </div>
    </div>

  </div>
</div>
