<div id="storm-wrapper">
  <div class="container p-5">
    <div class="row slideanim">
      <div class="storm-text col-12 col-lg-6">
        <h1 class="mb-5" style="font-weight: bold;">Extreme Storms & Flooding</h1>
          <p>Throughout history we’ve always had storms, hurricanes, and flooding. Today with all the added heat in the atmosphere caused by massive amounts of greenhouse gas emissions, storms become hurricanes more easily, and hurricanes will have more devastating Category 4 & 5’s.
          <br>
          <br>
          Because of human-caused climate change, the storms, cyclones, hurricanes and typhoons we see today are bringing noticeably heavier rainfall, causing more flooding, blowing with stronger winds and causing bigger storm surges, displacing millions every year.</p>
          <br>
          <br>
          <p class="toggle-text">The June 2016 flooding in Paris and its surrounds was found to have been made at least 40%, and as much as up to 90% — more likely due to climate change. The flooding was so severe, even the famous Louvre had to be evacuated.
          The June–July 2016 flooding in China that killed more than 833 people, destroyed upwards of 400,000 houses and displaced more than 6 million people. This tragedy had many models showing it was directly more catastrophic because of climate change.
          <br>
          <br>
          The unusually warm waters (attributable to global warming) in the Caribbean lead to the shockingly rapid growth of Hurricane Mathew. In just 36 hours Hurricane Matthew went from a tropical storm to a Category 5 hurricane, causing devastation in Haiti, Cuba, the Bahamas and the Southeastern United States as it progressed.
          </p>
      <a class="toggle-text-button btn btn-primary mb-5" style="color: #e6ecf2;">Read More</a>
        </div>
      <div class="col-12 col-lg-6 storms-chart">
        <canvas id="myBarChart" width="300" height="400">
        </canvas>
      </div>
    </div>
  </div>
</div>
