<div id="temp-wrapper">
  <div class="container p-5">
    <div class="row slideanim">
    <div class="temp-text col-12 col-lg-6">
      <h1 class="mb-5" style="font-weight: bold;">Record Breaking Temperatures</h1>
      <p>A clear consensus of climate science is that our extreme levels of carbon amplify the intensity, duration and frequency of heat waves, drought, and wildfires.</p>
        <br>
        <br>
           <p>Our planet’s atmosphere and oceans is heating up 10x more rapidly than at any time in the last 65 million years. This has been particularly noticeable in the past twenty years, where the ten hottest years ever recorded have all occurred since 1998! This explains why 2019 had record shattering temperatures & wildfires in many countries across the world.</p>
        <br>
        <br>
          <p class="toggle-text">
            The United Nations Food and Agriculture Organization (FAO) estimates that about 815 million people of the 7.6 billion people in the world, or 10.7%, were suffering from chronic undernourishment. Most everyone that is food-scarce live in lower-middle-income countries that are impacted by increased heat and droughts. This number is expected to drastically grow in the next decade or two if there is no major action taken on tackling Climate Change.
          </p>
            <a class="toggle-text-button btn btn-primary" style="color: #e6ecf2;">Read More</a>
      </div>
      <div class="col-12 col-lg-6 temp-img">
        <div id="temperature-widget-container"></div><script type="text/javascript" src="https://www.climatelevels.org/graphs/js/temperature.php?theme=dark-unica&pid=2degreesinstitute"></script>
        <!-- <canvas id="myBarChart" width="300" height="400">
        </canvas> -->
      </div>
    </div>
    </div>
  </div>
