
<div class="container">
  <div class="video d-flex justify-content-center">
    <iframe src="https://player.vimeo.com/video/360534377?byline=0&portrait=0" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
  </div>
  <div class="d-flex justify-content-center">

  <a class="video-call-to-action mt-3" href="https://actionnetwork.org/event_campaigns/us-climate-strikes" target="_blank">
    <button class="video-button" style="outline: none;">
        <span class="video-button-inner">Fight Now</span>
    </button>
  </a>
</div>

</div>



