<div class="video d-flex justify-content-center">
  <iframe class="home-video" width="560" height="315" src="https://www.youtube.com/embed/yzh7RtIJKZk?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>



