<%= render "about_nav" %>


  <div class="container m-5 p-5">
    <h2 class="mb-5" style="font-size: 60px; font-weight: bold;">About Us</h2>
        <p style="font-size: 20px;">
          March For Our Planet is a grassroots movement to help raise awareness on climate change through the power of social media and physical presence in the streets.
          <br>
          <br>
          We're building an army of young people to make climate change an urgent priority across America, end the corrupting influence of fossil fuel executives on our politics, and elect leaders who stand up for the health and wellbeing of all people.
          <br>
          <br>
          We are ordinary young people who are scared about what the climate crisis means for the people and places we love. We are gathering in classrooms, living rooms, and worship halls across the country. Everyone has a role to play. Public opinion is already with us - if we unite by the millions we can turn this into political power and reclaim our democracy. Join us, and let’s make history!
        </p>
  </div>


<%= render "footer" %>
