<%= render "science-nav" %>



<div class="container m-5 p-5 facts-container" style="font-size: 30px;">
  <h1>Science</h1>
  <p>1: <strong>Historic carbon levels</strong></p>
  <p>2: <strong>Record Breaking Temperatures</strong></p>
  <p>3: <strong>Extreme Storms & Flooding </strong></p>
  <p>4: <strong>Melting Ice & Sea Level Rise</strong></p>
</div>

<div id="carbon-wrapper">

</div>
