<%= render "faq-nav" %>
  <div class="container">
    <div class="row p-3 mt-5 d-flex">
      <div class="col-12 col-lg-12">
      <h2 style="font-size: 50px; text-align: center"><strong>FAQ's</strong></h2>
      <br>
      <br>
      <br>

      <h2 style="text-align: center;"><strong>When are the Global Climate Strikes?</strong></h2>
      <br>
      <p style="font-size: 20px;">Young people have woken up much of the world with their powerful Fridays for Future school strikes for the climate. As we deal with devastating climate breakdown and hurtle towards dangerous tipping points, young people are calling on millions of us across the planet to disrupt business as usual by joining the global climate strikes on September 20, just ahead of a UN emergency climate summit, and again on September 27. 
        <br>
        <br>
      Together, we will sound the alarm and show our politicians that business as usual is no longer an option. The climate crisis won’t wait, so neither will we.</p>
      <br>
      <br>
      <h2 style="text-align: center;"><strong>What is planned?</strong></h2>
      <br>
      <p style="font-size: 20px;">Millions of school climate strikers have been leaving their classrooms every Friday. Now they hope that everyone else will join them in action. Going on climate strike means people everywhere walking out of their homes, their offices, their farms, their factories.  Everyone is needed to disrupt business as usual: from sports stars, actors and teachers to food industry workers, psychologists, delivery drivers and everything in between.
        <br>
        <br>
       We can all take part, whatever our circumstances, by refusing to accept the status quo.  Already people in 150 countries are organising for the global climate strikes this September. Some will spend the day in protest against new pipelines and mines, or the banks that fund them; some will highlight the oil companies fuelling this crisis and the politicians that enable them. 
        <br>
        <br>
        Others will spend the day in action raising awareness in their communities and pushing for solutions to the climate crisis that have justice and equity at their heart.   On a grossly unequal planet, not everyone will be able to take a day off or take part in the same way. But we can all take a stand and make our voices heard. Find out how.</p>
      <br>
      <br>
      <h2 style="text-align: center;"><strong>What if I can’t go on strike?</strong></h2>
      <br>
      <p style="font-size: 20px;">Workers’ rights and labour laws vary hugely around the world, and not everyone can work, strike or be part of a union. On a grossly unequal planet, some of us can’t do without a single day’s pay, and some of us work for bosses who would fire us if we dared try.  
        <br>
        <br>
      And some jobs simply can’t stop: emergency room doctors should keep on saving lives. But many of us can put off for 24 hours our usual work, confident it will be there when we return.    The strike called by youth on September 20 will kick start a week of climate action with many different plans underway in different parts of the world allowing adults to join together, step up and take action for our climate.</p>
      <br>
      <br>

      <h2 style="text-align: center;"><strong>Why two separate dates?</strong></h2>
      <br>

      <p style="font-size: 20px;">As young climate strikers have shown, there is huge power in sustained action week after week to match the scale of the climate emergency. These dates in September are only a beginning to the sustained mass mobilisation that will be needed to pressure world governments to take action in line with climate science and justice.  Different groups in different parts of the world are mobilising on either or both September 20 and 27 for different reasons – you can see a list of key dates for countries here (available soon). 
        <br>
        <br>
          On September 20, 3 days before a UN emergency climate summit being held in New York, young people in the Fridays For Future network are mobilising for their largest global climate strike ever. They have invited everyone to join them on Friday, September 20 and again the following Friday, September 27 when they will join Earth Strike for a general strike.  Global Climate Strike partners encourage everyone to join on both dates and well beyond.<p>
    </div>
  </div>
</div>

<%= render "footer" %>
 <!--  Media
  Have this whole section dedicated to pictures of protests sent from people around the world, and have cities and their own gallery from those protests.
  All social media platforms available for people to view
  Our email for people to contact us through

  Join Our Team
  March For Our Planet is building a global grassroots climate movement that can hold our leaders accountable to the realities of science and the principles of justice — it’s a big job, and we’re looking for super smart, strategic, driven people to get it done.
  That movement is rising from the bottom up all over the world, and is uniting to create the solutions that will ensure a better future for all. Our online campaigns, grassroots organizing, and mass public actions bring together a global network active in over 188 countries.
  At March For Our Planet, you’ll work with a team of brilliant, fierce colleagues, tackling one of the greatest issues of our time, in a flexible and collaborative environment.

  Apply here below: -->

