<div class="navbar navbar-expand-sm navbar-dark navbar-lewagon">
  <a class="navbar-brand" href="#">
    <img src="" />
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Science</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About us</a>
      </li>
      <div class="nav-icons">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
      </div>
    </ul>
  </div>
</div>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://cdn.vox-cdn.com/thumbor/QbK6eH-TGuxTgStqCsNYk652NSk=/0x0:6519x4346/920x613/filters:focal(2739x1652:3781x2694):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/64012812/GettyImages_1150190120.0.jpg')">
    <div class="container">
      <h1 class="banner-title">March For Our Planet!</h1>
      <p>Text to add describing the cause</p>
      <!-- <p>Change your life and learn to code at one of our campuses around the world.</p> -->
      <button class="home-button">
        <a href="https://actionnetwork.org/event_campaigns/us-climate-strikes" target="_blank">Fight Now</a>
      </button>
    </div>
  </div>

<!-- <div id="wrapper">
</div> -->


<footer class="footer-distributed">

      <div class="footer-left">
          <img src="img/logo.png">
        <h3>About<span>Eduonix</span></h3>

        <p class="footer-links">
          <a href="#">Home</a>
          |
          <a href="#">Blog</a>
          |
          <a href="#">About</a>
          |
          <a href="#">Contact</a>
        </p>

        <p class="footer-company-name">© 2019 MarchForOurPlanet Pvt. Ltd.</p>
      </div>

      <div class="footer-center">
        <div>
          <i class="fa fa-map-marker"></i>
            <p><span>Lake Eola Park
              512 E Washington St</span>
            Orlando, FL 32771</p>
        </div>
        <div>
          <i class="fa fa-phone"></i>
          <p>number</p>
        </div>
        <div>
          <i class="fa fa-envelope"></i>
          <p><a href="mailto:support@eduonix.com">email</a></p>
        </div>
      </div>
      <div class="footer-right">
        <p class="footer-company-about">
          <span>About the company</span>
          description of company</p>
        <div class="footer-icons">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
      </div>
    </footer>
