#carbon-wrapper {
  background-color: #f7f2f7;
  display: flex;
  justify-content: center;
  align-items: center;

}
.carbon-text {
  justify-content: flex-start;
}

.temp-img {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.carbon-img {
  justify-content: flex-end;
  align-self: center;
}

.carbon-text h2 {
  color: #1f2021;
  font-weight: bold;
  font-size: 40px;
}

.carbon-text p {
  color: #1f2021;
  font-size: 20px;
}

