#carbon-wrapper {
  height: 100vh;
  background-color: gray;
  // width: 90%;
}
.carbon-text {
  justify-content: flex-start;
}

.carbon-img {
  justify-content: flex-end;
  align-self: center;
}

.carbon-holder {
  height: 80vh;
  // width: 90%;
}

.carbon-text h2 {
  color: white;
  font-weight: bold;
  font-size: 40px;
}

.carbon-text p {
  color: white;
  font-size: 20px;
}
@media (min-width: 100px) and (max-width: 575px) {
  #carbon-wrapper {
    height: 250vh;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  #carbon-wrapper {
    height: 200vh;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  #carbon-wrapper {
    height: 150vh;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  #carbon-wrapper {
  height: 100vh;
  }
}

//**********Got from stackoverflow*********
// @media screen and (max-width:500px){
//   #carbon-wrapper{
//     display: block;
//     width: 100%;
//     margin-right: 0;
//   }
// }
