#carbon-wrapper {
  height: 100vh;
  background-color: gray;
  // width: 90%;
}
.carbon-text {
  justify-content: flex-start;
}

.carbon-img {
  justify-content: flex-end;
  align-self: center;
}

.carbon-holder {
  // height: 80vh;
  // width: 90%;
}

.carbon-text h2 {
  color: white;
  font-weight: bold;
  font-size: 40px;
}

.carbon-text p {
  color: white;
  font-size: 20px;
}
@media (min-width: 100px) and (max-width: 575px) {
  #carbon-wrapper {
    height: 300vh;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  #carbon-wrapper {
    height: 250vh;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  #carbon-wrapper {
    height: 150vh;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  #carbon-wrapper {
  height: 100vh;
  }
}

//************IMG Responsiveness***************
@media (min-width: 100px) and (max-width: 575px) {
  .img {
    height: 200px;
    width: 300px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  #img {
    height: 200px;
    width: 250px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  #img {
    height: 300px;
    width: 400px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  #img {
  height: 300px;
  width: 450px;
  }
}
