#education-wrapper {
  // height: 100vh;
  background-color: #1781e9;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  // padding: 10px;
}

div.facts-container {
  color: #f7f7f7;
}

.science-fact-link:hover {
  // font-weight: bold;
  text-shadow: 2px 2px 4px #000000;
}

.facts-container h1 {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 30px;
}

.facts-container a {
  text-decoration: none;
  color: white;
}
.facts-container a:hover {
  text-decoration: none;
  color: white;
}
