#melting-wrapper {
  // background-image: url(https://res.cloudinary.com/dxy1zcexj/image/upload/v1568567494/concrete_seamless_yoc4jt.jpg);
display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f2f7;
// background-image: url("https://res.cloudinary.com/dxy1zcexj/image/upload/v1568604647/cream-paper_g6bewz.png");

  display: flex;
  justify-content: center;
  align-items: center;
}

.melting-text h2, .melting-text p {
  color: black;
}

.melting-text h2 {
   font-weight: bold;
  font-size: 40px;
}

.melting-text p {
  font-size: 20px;
}

.melting-text {
  justify-content: flex-end;
  align-self: center;
}

.melting-img {
  justify-content: flex-end;
  align-self: center;
}
