#melting-wrapper {
  // background-image: url(https://res.cloudinary.com/dxy1zcexj/image/upload/v1568567494/concrete_seamless_yoc4jt.jpg);

  background-color: #f7f2f7;
// background-image: url("https://res.cloudinary.com/dxy1zcexj/image/upload/v1568604647/cream-paper_g6bewz.png");

  display: flex;
  justify-content: center;
  align-items: center;
}

.melting-text h2, .melting-text p {
  color: black;
}

.melting-text h2 {
   font-weight: bold;
  font-size: 40px;
}

.melting-text p {
  font-size: 20px;
}

// @media (min-width: 100px) and (max-width: 575px) {
//   #melting-wrapper {
//     height: 300vh;
//   }
// }

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {
//   #melting-wrapper {
//     height: 250vh;
//   }
// }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {
//   #melting-wrapper {
//     height: 150vh;
//   }
// }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
//   #melting-wrapper {
//   height: 120vh;
//   }
// }
