#storm-wrapper {
  // height: 100vh;
  background-color: #1781e9;

  display: flex;
  justify-content: center;
  align-items: center;
}

.storm-text h1, .storm-text p {
  color: white;
}

.storm-text h2 {
  font-weight: bold;
  font-size: 40px;
}

.storm-text p {
  font-size: 20px;
}

// @media (min-width: 100px) and (max-width: 575px) {
//   #storm-wrapper {
//     height: 300vh;
//   }
// }

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {
//   #storm-wrapper {
//     height: 250vh;
//   }
// }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {
//   #storm-wrapper {
//     height: 150vh;
//   }
// }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
//   #storm-wrapper {
//   height: 120vh;
//   }
// }
