#storm-wrapper {
  // background-color: #2b2b2b;
//   background-color: black;
// background-image: url("https://res.cloudinary.com/dxy1zcexj/image/upload/v1568604647/cream-paper_g6bewz.png");
// background-image: url(https://res.cloudinary.com/dxy1zcexj/image/upload/v1568567494/concrete_seamless_yoc4jt.jpg);
background-image: url(https://res.cloudinary.com/dxy1zcexj/image/upload/v1568567494/concrete_seamless_yoc4jt.jpg);



  display: flex;
  justify-content: center;
  align-items: center;
}

.storms-chart {
    display: flex;
  justify-content: center;
  align-items: center;
}
.storm-text h1, .storm-text p {
  color: black;
}

.storm-text h2 {
  font-weight: bold;
  font-size: 40px;
}

.storm-text p {
  font-size: 20px;
}

// @media (min-width: 100px) and (max-width: 575px) {
//   #storm-wrapper {
//     height: 300vh;
//   }
// }

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {
//   #storm-wrapper {
//     height: 250vh;
//   }
// }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {
//   #storm-wrapper {
//     height: 150vh;
//   }
// }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
//   #storm-wrapper {
//   height: 120vh;
//   }
// }
