#storm-wrapper {
  height: 100vh;
  background-color: gray;
}

.storm-text h1, .storm-text p {
  color: white;
}

.storm-text h2 {
  font-weight: bold;
  font-size: 40px;
}

.storm-text p {
  font-size: 20px;
}
