#temp-wrapper {
  height: 100vh;
  background-color: #1781e9;
}


.temp-text h1, .temp-text p {
  color: white;
}

.temp-text h2 {
   font-weight: bold;
  font-size: 40px;
}

.temp-text p {
  font-size: 20px;
}

@media (min-width: 100px) and (max-width: 575px) {
  #temp-wrapper {
    height: 250vh;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  #temp-wrapper {
    height: 200vh;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  #temp-wrapper {
    height: 150vh;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  #temp-wrapper {
  height: 100vh;
  }
}
