#temp-wrapper {
  // height: 100vh;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
}


.temp-text h1, .temp-text p {
  color: black;
}

div.col-12.col-lg-6.temp-img {
  display: flex;
  align-items: center;
}

.temp-text h2 {
   font-weight: bold;
  font-size: 40px;
}

.temp-text p {
  font-size: 20px;
}
#temperature-widget-container {
  height: 500px;
  width: 350px;
}

// .temp-img {
//   height: 400px;
// }

// @media (min-width: 100px) and (max-width: 575px) {
//   #myBarChart {
//     width: 300px;
//   }
// }

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {
//   #myBarChart {
//     width: 300px;
//   }
// }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {
//   #myBarChart {
//     width: 350px;
//   }
// }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
//   #myBarChart {
//   width: 600px;
//   }
// }
