.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 100vh;

  // position: fixed;
  // background-position: 0% 0% !important;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
h1.banner-title{
  font-size: 70px;
  font-weight: bolder;
  color: #fff7f7;
}

.home-button {
  // margin-top: 20px;
  border: 1px;
  height: 55px;
  width: 160px;
  // color: #fff7f7;
  background-color: #ff4747;
  border-radius: 26px;
  text-decoration: none;
  // text-decoration: none;
}

button.home-button:hover {
  background-color: #e81212;
  font-size: 19px;
  // transform: scale(1..1) rotate(360deg);
}

.button-inner {
  color: white;
  font-size: 18px;
  font-weight: 700;
}

 .button-inner:hover {
  color: #ffffff;
  font-size: 19px;
  font-weight: 900;
 }

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

