// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "banner";
@import "footer";
// @import "social-sidebar";
@import "science-nav";
@import "home-parralax";
@import "slide";
@import "to-top-button";
@import "video";
@import "about-nav";


// #wrapper {
//   height: 100vh;
//   background-color: black;
// }
body {
  background-color: #2C292F;
  font-family: 'Open Sans', sans-serif;
}

 h2 {
  font-family: 'Montserrat', sans-serif !important;
}

h1 {
  font-family: 'Montserrat', sans-serif !important;
}
