// .row {
//   justify-content: space-between;
// }
.navbar-science {
  display: flex;
}

.navbar-science:last-child {
  // display: flex;
  justify-content: flex-end;
}
.navbar-science .navbar-collapse {
  // flex-grow: 0;
}

.navbar-science .navbar-brand img {
  width: 40px;
}

.navbar-science {
  background-color: #161616;
}

div.nav-icons i {
  color: white;
  font-size: 25px;
}

.navbar {
  box-shadow: 0 7px 6px -6px black;
  // display: flex;
}
.navbar-science {
transition: 0.5s background-color ease;
    background-color: transparent;
    justify-content: space-between;
}

.navbar-lewagon-black {
  // background-color: white;
  // background-color: #202021;
  background-color: black;
}

p.link-p {
  margin: 0 5px;
}

a.nav-link  {
  color: white !important;
  display: inline-block;
  // height: 20px;
  font-size: 20px;
  text-shadow: 2px 2px 4px #000000;
}

li.nav-item {
  color: white !important;
  margin-top: 10px;
  display: inline-block;
  // height: 20px;
  font-size: 20px;
  text-shadow: 2px 2px 4px #000000;
}

.fab {
  padding: 5px;
}
